.container-flex-big {
    padding-top: 100px;
}

.container {
    width: 500px;
    height: 550px;
    margin-top: 0px;
    background-color: #F4F4F6;
}

.cardTitle {
    color: lightgray;
    font-size: 70px;
}

.noteBook {
    height: 300px;
    width: 400px;
    margin-left: 40px;
    border-bottom: 1px solid lightgray;
}

.container-flex {
    border-radius: 5px;
    border: black;
}

.inputStyle {
    height: 25px;
   
    margin: 0;
}

.footerStyle {
    height: 50px;
   
}